PORT=3003
NODE_ENV=development
MONGODB_URI=mongodb://register-mongodb:27017/register-service
JWT_SECRET=change-this-in-real-deployments
TARGET_SERVICE_URL=http://target-service:3002
RABBITMQ_EXCHANGE=photo-prestige
RABBITMQ_RECONNECT_DELAY_MS=5000
